

*{
	font-family: $fontMain

}

html{
	font-size: 62.5%;
}


body{
	background-image: url(../img/fondo.png);
	background-attachment: fixed;
}

h1,h2,h3{
color: #618C03;
}
h1{
	font-size: $textXl;
}
h2{
	font-size: $textMd;

}
h3{
	font-size: $textSm;
}

.textGrey{
	color: rgb(0, 0, 0);
}

@mixin texto($font-size,$font-weight,$line-height){
	font-size: $font-size;
	font-weight: $font-weight;
	line-height: $line-height;
	justify-content: cemter; 

}

$fondos:(
	'uno':rgba(41, 156, 18, 0.3),
			'dos':#2F7635
	);




.textCenter{
	text-align: center;


	
		.text{
			@include texto($textMd,300,2.4rem)
			//font-size: $textSm;
			//font-weight: 300;
			//line-height: 2.4rem;
			//justify-content: cemter;
		}
	
}
.encabezado__img--fluid{
	width: 100%;
}

.main{
	width: 90%;
	height: auto;
	margin: 10px auto;
	padding: 20px;
	box-sizing: border-box;
	border: solid 2px green;
}
.bgArticle{
	@extend .main;
	background-color: rgba(41, 156, 18, 0.3);
	font-size: $textSm
}



#aside{
	display: flex;
	
}
.iframe{
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
}





section{ 
		div{
			img{
			height: 300px;
			width: 400px;
			margin: 10px;
			}
		}
	
}
.galeriFlex{
	display: flex;
	margin: 20px ;
	padding: 5px;

}

.orden{
	display: grid ;
	flex: 30%;
	padding: 5px;
}
.contenedor{
	display: grid;
	grid-template-columns:auto;
	grid-template-rows: auto auto auto auto;
	grid-template-areas: "n" "h" "m" "f";
}
.gNav{
	grid-area: n;
}
.gHeader{
	grid-area: h;
}
.gMain{
	grid-area: m;
}

	

.gFooter{
	grid-area: f;
}



	





