nav{
	background-color: rgba(41, 156, 50, 0.3);
	position: sticky;
	top: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	ul{
		list-style: none;
		li{
            font-size: 2rem;
			display: flex;
			list-style: none;
			display: inline-block;
			margin-right:50px;
			height: 30px;
			font-size: 2rem;
			a{
				text-decoration: none;
				color: white;
				&:hover{
					background-color: green;
					transform: translate(10px);
				
					img{
					width: 10px;
					}
				}
			}
		}
	}
}
